<div id = 'signUp'>
  </br>
  <div id="fav-menu-outer">
   <div class="favtable">
     <ul id="horiz-list" style="list-style-type:none;">
       <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
       <li><a href="/about_details"><i class="fas fa-users"></i> About</a></li>
       <li><a href="/favorites"><i class="far fa-star"></i> Favorites</a></li>
       <li><a href="/contacts/new"><i class="far fa-envelope"></i> Contact Us</a></li>
     </ul>
   </div>
 </div>
<h1>Sign Up</h1>
</br>
</br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "form_label_styling" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "form_label_styling" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "form_label_styling" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<!-- id: "field_styling" -->
  <div class="actions">
    <br/>
    <%= f.submit "Sign up", class: "button", id: "sendmsg" %>
  </div>
<% end %>
<br/>
</div>
