<div id="contactUs">
  <h2 id="page_title">Send us a message! We'll get back to you ASAP.</h2>
  <!-- <h1 id="page_title">Feel free to send us a message! We'll get back to you ASAP.</h1> -->
<br/>
    <%= form_for @contact do |f| %>
    <%= f.label :name, class: "form_label_styling" %><br/>
    <%= f.text_field :name, id: "field_styling", required: true %>

    <br/>
    <%= f.label :email, class: "form_label_styling" %><br/>
    <%= f.email_field :email,id: "field_styling", required: true %>
    <br/>
    <%= f.label :message, class: "form_label_styling" %><br/>
    <%= f.text_area :message, as: :text, class: "textarea" %>
    <div class="hidden">
      <%= f.label :nickname %><br/>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
    </div>
    <br/>
    <%= f.submit 'Send Message', class: "button", id: "sendmsg" %>
    <% end %>

</div>
