<div id = 'logIn'>
</br>
  <div id="fav-menu-outer">
   <div class="favtable">
     <ul id="horiz-list" style="list-style-type:none;">
       <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
       <li><a href="/about_details"><i class="fas fa-users"></i> About</a></li>
       <li><a href="/favorites"><i class="far fa-star"></i> Favorites</a></li>
       <li><a href="/contacts/new"><i class="far fa-envelope"></i> Contact Us</a></li>
     </ul>
   </div>
 </div>
<h1>Sign In</h1>
</br>
</br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
  <%= f.label :email, class: "form_label_styling" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

  <div class="field">
    <%= f.label :password, class: "form_label_styling" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "form_label_styling" %>
    </div>
  <% end -%>

  <div class="actions">
    <br/>
    <%= f.submit "Log in", class: "button", id: "sendmsg" %>

<% end %>
<br/>
