<%= form_for @apartment, :html => {:multipart => true} do |f| %>
 <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this Apartment Profile from being saved:</h2>
      <ul>
        <% @apartment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="newApartment">
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :price %>
<%= f.text_field :price %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :bedrooms %>
<%= f.text_field :bedrooms %>
<%= f.label :bathrooms %>
<%= f.text_field :bathrooms %>
<%= f.label :sq_ft %>
<%= f.text_field :sq_ft %>
<%= f.label :pets %>
<%= f.text_field :pets %>
<%= f.label :date_available %>
<!-- <%= f.datetime_select(:date_available, :order => [:month, :day, :year]) %> -->
<%= f.date_field :date_available %>
<%= f.label :thumbnail_photo, "Attach a thumbnail photo: " %>
<%= f.file_field :thumbnail_photo %>

<br/>
<br/>

<%= f.submit class: "button" %>
</div>

<% end %>
