<h3><%= "price: #{@apartment.price}" %></h3>
<h3><%= "location:                                #{@apartment.address}" %></h3>
<h3><%= "#{@apartment.bedrooms} bedrooms" %></h3>
<h3><%= "#{@apartment.bathrooms} bathrooms" %></h3>
<h3><%= @apartment.description %> </h3>

<td>
      <%= link_to 'Destroy', post_apartment_path(@apartmentgiinggingingingi
          :confirm => 'Are you sure?', :method => :delete %>
  </td>
