<!DOCTYPE html>
<html>
<head>
  <title>Connaughton & Associates </title>
  <%= include_gon %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>



</head>
<body>



  <div class="wrapper">
    <nav class="top-bar">
        <ul class="top-ul-section">
        <section class="top-bar-section">
          <ul class="right">
            <%- if current_user -%>

              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>

              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>


              <%- end -%>
            </ul>
          </section>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="menu-outer">
        </br>

          <div class="table">
          <ul id="horizontal-list">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/about_details"><i class="fas fa-users"></i> About</a></li>
        <li><a href="/favorites"><i class="far fa-star"></i> Favorites</a></li>
        <li><a href="/contacts/new"><i class="far fa-envelope"></i> Contact Us</a></li>
      </ul>
    </div>
  </div>
      </ul>

    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>



    <%= yield :extra_footer %>

    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <script type="text/javascript">Calendly.initBadgeWidget({url: 'https://calendly.com/aptsite-contact', text: 'Schedule time with us', color: '#00a2ff', branding: true});</script>

  </div>
</body>
</html>
